<style>
    body {
        text-align: center;
        background-color: antiquewhite;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        color: brown;
    }
</style>

<body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</body>