body {
  padding: 0; margin: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: white;
  color: #AC6C82;
}
.overlay {   
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 202, 169, 0.9); 
  overflow-x: hidden;
  transition: 0.3s;
  transition-delay: 1s
}
.overlay-contents {
  position: relative;
  top: 25%;
  text-align: center; 
  margin-top: 30px; 
  color: white;
  font-size: 3em;
}
.overlay-contents p {
  color:white; font-size: 20px;
}
.sideMenu {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFBC67;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-content {
  display: block;
}
.sideMenu a {
  margin: 10px;
  border-radius: 10px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.1em;
  color: white;
  display: block;
  transition: 0.2s;
}
.sideMenu a:hover {
  color: #AC6C82;
  background-color: white;
}
#main {
  display: none;
  margin-left: 18%;
  transition: margin-left .2s;
  padding: 16px;
}
.input-table {
  display: table;
}
.input-table-header {
  display: table-header-group;
  font-size: 1.5em;
}
.table-header-cell {
  display:table-cell;
  padding:15px; text-align: justify;
  border-bottom: 3px solid white;
}
.input-table-body {
  display:table-row-group;
  font-size: 1.2em;
}
.input-table-row {
  display: table-row;
}
.rooms-table .input-table-row:hover {
  background-color: rgb(226, 226, 226);
  cursor: pointer;
}
.input-table-row .room-delete {
  display: none;
}
.input-table-row:hover .room-delete {
  display: block;
}
.table-body-cell {
  display:table-cell;
  padding:15px; text-align: justify;
  border-bottom: 2px solid white;
}
@media (max-width: 1460px) {
  .overlay-contents {
    margin-top: 10px; 
    font-size: 2.5em;
  }
  .overlay-contents p {
    font-size: 14px;
  }
  .sideMenu {
    display: block;
  }
  .sideMenu a {
    margin: 5px;
    border-radius: 5px;
    padding: 4px 4px 4px 16px;
    font-size: 1.8em;
  }
  .participants {
    display:none;
  }
  .input-table-row:hover .room-delete {
    display: none;
  }
}
@media (max-width: 920px) {
  .overlay-contents {
    margin-top: 5px; 
    font-size: 2em;
  }
  .overlay-contents p {
    font-size: 10px;
  }
  .sideMenu {
    display:none
  }
  #main {
    margin-left: 0;
  }
  .input-table-header {
    font-size: 1.2em;
  }
  .table-header-cell {
    padding:7px;
  }
  .table-body-cell {
    padding:5px;
    font-size:1em;
  }
}